name: Run-Cypress-Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        
      - name: Cypress run
        uses: cypress-io/github-action@v6
